In [3]:
# Import the dependencies.6.5.2
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,Poum,-20.2333,164.0167,72.61,66,75,6.96,NC
1,1,Punta Arenas,-53.1500,-70.9167,44.71,53,40,23.02,CL
2,2,Beloha,-25.1667,45.0500,68.18,79,0,5.91,MG
3,3,Troitskoye,52.9821,84.6757,41.00,72,100,13.89,RU
4,4,Eastbourne,50.7687,0.2845,60.17,91,100,4.12,GB

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig

In [8]:
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
temps

[72.61,
 44.71,
 68.18,
 41.0,
 60.17,
 42.46,
 62.1,
 66.9,
 74.84,
 77.4,
 43.48,
 63.99,
 68.05,
 87.75,
 71.04,
 34.52,
 62.89,
 73.9,
 64.42,
 59.94,
 47.5,
 91.47,
 74.19,
 81.91,
 43.11,
 80.08,
 59.49,
 54.37,
 42.75,
 60.85,
 31.82,
 70.2,
 60.58,
 50.85,
 91.42,
 87.82,
 51.91,
 84.0,
 59.32,
 78.3,
 86.02,
 43.5,
 71.76,
 51.96,
 72.43,
 70.68,
 51.69,
 48.56,
 30.43,
 48.49,
 32.67,
 73.89,
 53.44,
 75.76,
 21.96,
 34.54,
 59.25,
 53.6,
 34.56,
 75.16,
 59.02,
 43.81,
 66.94,
 76.82,
 61.77,
 79.12,
 55.6,
 91.13,
 75.31,
 84.38,
 84.29,
 67.12,
 77.72,
 79.95,
 94.6,
 67.19,
 28.42,
 80.62,
 84.18,
 33.8,
 82.27,
 66.09,
 44.67,
 29.73,
 67.32,
 93.18,
 61.14,
 28.81,
 59.47,
 71.24,
 76.96,
 51.08,
 75.58,
 74.32,
 70.43,
 74.91,
 83.93,
 61.92,
 54.52,
 78.75,
 74.71,
 68.4,
 73.45,
 36.91,
 94.53,
 32.54,
 78.69,
 73.9,
 89.69,
 32.23,
 34.05,
 62.28,
 75.2,
 44.73,
 76.3,
 66.27,
 69.51,
 62.71,
 30.81,
 32.79,
 76.89,
 58.1,
 61.81,
 76.46,
 34.61,
 35.58,
 84.13,
 58.42,
 79.7,
 66.54,
 49.53,
 59.14,
 59.95,
 46.78,
 76.32,
 27.48,
 28.71,
 80.78,
 71.15,
 73.11,
 80.82,
 69.46,
 62.29,
 82.42,
 82.98,
 75.88,
 81.95,
 32.27,
 72.18,
 80.2,
 79.2,
 68.29,
 42.96,
 37.56,
 72.91,
 37.63,
 24.82,
 40.84,
 47.01,
 77.05,
 85.96,
 72.77,
 72.68,
 76.68,
 74.05,
 72.68,
 66.18,
 59.22,
 37.67,
 51.28,
 97.23,
 65.82,
 83.88,
 63.16,
 30.96,
 81.09,
 81.48,
 86.58,
 85.03,
 81.66,
 73.38,
 31.71,
 81.57,
 45.91,
 79.59,
 91.33,
 77.85,
 54.95,
 62.69,
 77.05,
 78.06,
 67.19,
 25.05,
 61.57,
 33.78,
 49.89,
 83.12,
 61.18,
 43.83,
 55.53,
 28.42,
 60.75,
 38.79,
 35.89,
 47.41,
 72.25,
 81.34,
 71.37,
 39.7,
 94.1,
 53.56,
 48.09,
 72.21,
 78.42,
 84.06,
 64.71,
 63.28,
 71.67,
 65.21,
 83.91,
 55.99,
 83.3,
 73.51,
 55.72,
 33.85,
 81.84,
 78.8,
 91.87,
 54.57,
 77.34,
 35.6,
 82.69,
 61.41,
 81.59,
 34.21,
 61.95,
 96.48,
 83.23,
 94.41,
 74.68,
 86.05,
 65.08,
 29.59,
 60.89,
 70.56,
 91.92,
 39.45,
 74.05,
 49.03,
 79.7,
 23.09,
 78.62,
 71.96,
 80.04,
 88.5,
 69.84,
 55.4,
 71.56,
 73.45,
 83.75,
 75.78,
 77.9,
 86.09,
 80.69,
 58.32,
 77.14,
 72.09,
 62.64,
 55.2,
 86.04,
 76.53,
 43.2,
 69.64,
 71.13,
 56.53,
 80.89,
 71.69,
 80.74,
 78.53,
 74.43,
 61.83,
 81.54,
 36.82,
 66.04,
 60.82,
 78.12,
 51.33,
 56.57,
 85.57,
 52.7,
 74.17,
 59.72,
 60.04,
 20.61,
 88.07,
 79.54,
 70.65,
 73.72,
 35.51,
 51.19,
 96.67,
 81.27,
 89.98,
 81.43,
 41.47,
 81.61,
 75.6,
 71.51,
 87.13,
 35.64,
 45.19,
 80.62,
 73.26,
 76.42,
 39.42,
 85.32,
 42.39,
 74.46,
 71.22,
 76.21,
 53.69,
 72.99,
 81.97,
 82.08,
 65.1,
 75.2,
 75.42,
 51.44,
 50.68,
 76.71,
 72.36,
 67.66,
 75.38,
 64.38,
 66.9,
 69.85,
 46.54,
 80.15,
 79.5,
 46.69,
 87.78,
 68.79,
 79.92,
 71.47,
 76.98,
 57.94,
 61.21,
 30.36,
 77.49,
 65.64,
 63.32,
 82.45,
 80.49,
 53.89,
 79.59,
 78.66,
 78.69,
 74.34,
 62.71,
 75.92,
 63.14,
 77.99,
 48.81,
 44.94,
 44.6,
 83.88,
 69.66,
 83.25,
 69.94,
 79.36,
 50.76,
 67.53,
 75.88,
 42.58,
 89.06,
 32.56,
 76.96,
 77.14,
 76.91,
 63.72,
 73.35,
 73.2,
 76.42,
 77.4,
 44.31,
 52.57,
 71.71,
 54.81,
 27.36,
 70.97,
 85.19,
 79.63,
 82.72,
 57.79,
 58.42,
 30.31,
 82.49,
 61.99,
 84.54,
 70.18,
 51.57,
 47.97,
 71.26,
 68.22,
 87.98,
 46.47,
 30.38,
 75.24,
 47.16,
 45.81,
 80.44,
 57.4,
 37.08,
 71.69,
 78.03,
 56.14,
 75.78,
 53.83,
 50.05,
 69.33,
 45.27,
 84.81,
 78.67,
 48.15,
 44.46,
 64.54,
 72.46,
 48.0,
 77.07,
 67.98,
 87.76,
 50.31,
 43.41,
 72.55,
 86.83,
 72.81,
 59.99,
 31.96,
 66.31,
 87.82,
 63.43,
 50.88,
 50.95,
 88.09,
 49.01,
 71.58,
 61.68,
 36.41,
 73.53,
 76.73,
 53.69,
 47.37,
 49.26,
 72.48,
 79.83,
 52.75,
 67.71,
 68.11,
 81.21,
 60.55,
 72.79,
 74.89,
 70.52,
 43.75,
 60.78,
 65.91,
 65.55,
 86.27,
 32.74,
 79.77,
 58.96,
 78.26,
 73.51,
 48.54,
 80.38,
 59.18,
 76.06,
 52.07,
 65.77,
 77.41,
 30.7,
 67.86,
 88.72,
 33.53,
 43.14,
 93.31,
 89.44,
 44.76,
 90.19,
 83.05,
 72.63,
 78.8,
 76.24,
 70.14,
 28.63,
 51.98,
 91.54,
 76.84,
 69.87,
 65.21,
 83.93,
 77.7,
 68.9,
 77.43,
 41.77,
 84.92,
 54.07,
 78.48,
 79.92,
 71.65,
 69.42,
 82.63,
 70.03,
 88.72,
 81.57,
 71.24,
 67.23,
 47.75,
 83.34,
 71.02,
 80.13,
 37.98,
 47.01,
 75.34,
 79.59,
 30.47,
 64.27,
 32.32,
 89.6,
 50.68,
 70.66,
 71.74,
 46.4,
 89.69,
 30.25,
 68.41,
 24.94,
 70.23,
 87.3,
 40.66,
 70.84,
 62.38,
 44.98,
 77.43,
 63.25,
 74.34,
 84.94,
 67.68,
 28.71,
 64.18,
 72.77,
 65.52,
 50.72,
 54.95,
 62.58,
 65.34,
 91.71,
 63.66,
 43.0,
 53.74,
 45.34,
 65.98,
 64.24,
 60.67,
 28.06,
 80.17,
 71.15,
 74.48,
 80.28,
 88.99,
 64.18,
 85.03,
 32.95,
 85.08,
 46.22,
 44.13,
 83.05]

In [12]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.6.5.3
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,Poum,-20.2333,164.0167,72.61,66,75,6.96,NC
8,8,Yabassi,4.4570,9.9682,74.84,98,100,2.26,CM
9,9,Naze,28.3667,129.4833,77.40,86,44,10.42,JP
13,13,Oranjestad,12.5240,-70.0270,87.75,75,20,11.01,AW
14,14,Hamilton,39.1834,-84.5333,71.04,46,1,1.99,US
17,17,Rikitea,-23.1203,-134.9692,73.90,76,58,14.74,PF
21,21,Canyon,34.9803,-101.9188,91.47,18,23,15.61,US
22,22,Semnan,35.5729,53.3971,74.19,15,0,3.85,IR
23,23,Chanute,37.6792,-95.4572,81.91,32,1,4.61,US
25,25,Cumberland,35.0502,-78.8664,80.08,40,1,8.05,US

In [16]:
preferred_cities_df.count()

City_ID       281
City          281
Lat           281
Lng           281
Max Temp      281
Humidity      281
Cloudiness    281
Wind Speed    281
Country       280
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.6.5.4.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp      Lat       Lng Hotel Name
0           Poum      NC     72.61 -20.2333  164.0167
8        Yabassi      CM     74.84   4.4570    9.9682
9           Naze      JP     77.40  28.3667  129.4833
13    Oranjestad      AW     87.75  12.5240  -70.0270
14      Hamilton      US     71.04  39.1834  -84.5333
..           ...     ...       ...      ...       ...        ...
568   Batticaloa      LK     80.28   7.7102   81.6924
569  Bodden Town      KY     88.99  19.2833  -81.2500
571       Mandan      US     85.03  46.8267 -100.8896
573     Eldorado      BR     85.08 -23.7869  -54.2836
576   Pascagoula      US     83.05  30.3658  -88.5561

[281 rows x 6 columns]

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
 
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [27]:
hotel_df

            City Country  Max Temp      Lat       Lng   Hotel Name
0           Poum      NC     72.61 -20.2333  164.0167
8        Yabassi      CM     74.84   4.4570    9.9682
9           Naze      JP     77.40  28.3667  129.4833
13    Oranjestad      AW     87.75  12.5240  -70.0270
14      Hamilton      US     71.04  39.1834  -84.5333
..           ...     ...       ...      ...       ...          ...
568   Batticaloa      LK     80.28   7.7102   81.6924
569  Bodden Town      KY     88.99  19.2833  -81.2500
571       Mandan      US     85.03  46.8267 -100.8896
573     Eldorado      BR     85.08 -23.7869  -54.2836
576   Pascagoula      US     83.05  30.3658  -88.5561  Regency Inn

[281 rows x 6 columns]

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [30]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))